:host {
  mat-card {
    box-shadow: 3px 3px #21465f, -3px -3px #418cbe;

    @media print {
      box-shadow: none;
    }

    mat-card-title {
      color: #418cbe;
    }

    mat-card-header {
      ::ng-deep {
        .mat-mdc-card-header-text {
          @apply grow;
        }
      }
      .mat-icon {
        @apply flex justify-center items-center;
      }
    }
  }
}
