<div [ngClass]="{'static' : staticMode}" class="cv-container" fxLayout="column" fxLayoutGap="20px">
  <mat-card>
    <mat-card-header>
      <!--        @Todo Ajouter une photo-->
      <i class="material-icons large" mat-card-avatar>account_circle</i>
      <mat-card-title>{{personne.prenom}} {{personne.nom}}</mat-card-title>
      <mat-card-subtitle>{{personne.posteRecherche}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutGap="10px">
      <div fxLayout="row" fxLayoutAlign.gt-sm="start center" fxLayoutAlign.lt-md="space-between center"
           fxLayoutGap="20px">
        <div fxFlex.gt-sm fxLayout="column">
          <div fxLayoutAlign="start center" fxLayoutGap="10px">
            <i class="material-icons">house</i>
            <span>
            {{personne.adresse}}
          </span>
          </div>
          <div fxLayoutAlign="start center" fxLayoutGap="10px">
            <i class="material-icons">calendar_today</i>
            <span>{{personne.dateNaissance | date:'longDate':undefined:'fr-FR'}}</span>
          </div>
        </div>
        <div fxFlex.gt-sm fxLayout="column">
          <div fxLayoutAlign="start center" fxLayoutGap="10px">
            <i class="material-icons">contact_phone</i>
            <a href="tel:+3369-943-5272"> {{personne.numeroTelephone}}</a>
          </div>
          <div fxLayoutAlign="start center" fxLayoutGap="10px">
            <i class="material-icons">contact_mail</i>
            <a href="mailto:nullepart@mozilla.org">{{personne.email}}</a>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="scolarite-card">
    <mat-card-header>
      <i class="material-icons" mat-card-avatar>school</i>
      <mat-card-title>Scolarité et formations</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutGap="20px">
      <div *ngFor="let formation of personne?.formations" fxLayout="column">
        <div fxLayout="row">
          <p class="main-info">
            {{formation.nomFormation}}
          </p>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="10px">
          <div class="italic">
            <ng-container *ngIf="formation?.dateDebut">{{formation?.dateDebut}}</ng-container>
            <ng-container *ngIf="formation?.dateFin"> à {{formation?.dateFin}}</ng-container>
            ,
          </div>
          <div>
            <ng-container *ngIf="formation?.nomEtablissement"> {{formation.nomEtablissement}},</ng-container>

          </div>
          <div>
            <ng-container *ngIf="formation?.villeEtablissement">{{formation?.villeEtablissement}}</ng-container>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div fxLayout.gt-sm="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px">
    <mat-card class="competences-card" fxFlex.gt-sm="250px" fxFlex.lt-md="1 0 auto">
      <mat-card-header>
        <i class="material-icons" mat-card-avatar>keyboard</i>
        <mat-card-title>Compétences</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout.gt-sm="column" fxLayout.lt-md="row wrap" fxLayoutAlign.lt-md="space-between"
                        fxLayoutGap="10px">
        <div *ngFor="let competence of personne?.competences" fxLayout="column">
          <h2>{{competence.nom}}</h2>
          <ul fxLayoutGap="5px">
            <li *ngFor="let sousCompetence of competence?.sousCompetences, let i = index">
              <span>{{sousCompetence.nom}}</span>
              <img *ngIf="sousCompetence.image" [height]="sousCompetence.image.height*2"
                   [src]="'./assets/icons/' + sousCompetence.image.name"
                   [width]="sousCompetence.image.width*2" alt="">
            </li>
          </ul>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="experiences-card" fxFlex.gt-sm fxFlex.lt-md="1 0 auto">
      <mat-card-header>
        <i class="material-icons" mat-card-avatar>work</i>
        <mat-card-title>Expériences</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column" fxLayoutGap="20px">
        <div *ngFor="let experience of personne?.experiences" fxLayout="column">
          <div fxLayout="row">
            <p class="main-info">
              {{experience.nomPoste}}
            </p>
          </div>
          <div fxLayout="column" fxLayoutGap="10px">
            <div>
              {{experience.nomEntreprise}}
              <span class="italic">
              <ng-container *ngIf="experience?.dateDebut"> - {{experience?.dateDebut}}</ng-container>
              <ng-container *ngIf="experience?.dateFin"> à {{experience?.dateFin}}</ng-container>
              </span>
            </div>
            <div *ngIf="experience?.missionsHTML">
              <p [innerHTML]="experience?.missionsHTML"></p>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card>
    <mat-card-header>
      <i class="material-icons" mat-card-avatar>sports_soccer</i>
      <mat-card-title>Centres d'intérêts</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="row wrap" fxLayoutGap="10px">
      <div *ngFor="let centreInteret of personne?.centresInterets; let i = index" fxLayout="row">
          <span>
            {{i === 0 ? centreInteret : centreInteret.toLocaleLowerCase()}}
          </span>
        <span *ngIf="i !== personne?.centresInterets.length - 1">
            ,
          </span>
      </div>
    </mat-card-content>
  </mat-card>
</div>



